.side-ber
  .side-ber__top-content
    .side-ber__top-content__user
      .side-ber__top-content__user__user-name
        = current_user.name
      .side-ber__top-content__user__user-icon
        = link_to new_group_path(),class:"edit_icon"do
          %i.far.fa-edit
        = link_to edit_user_path(current_user),class:"edit_icon"do
          %i.fas.fa-cog
  .side-ber__groups
    .side-ber__groups__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side-ber__groups__group__name
            = group.name
          -# .side-ber__groups__group__message
          -#   = group.show_last_message

.side-ber-mobile
  .side-ber-mobile__top-content
    .side-ber-mobile__top-content__user
      .side-ber-mobile__top-content__user__user-name
        = current_user.name
      .side-ber-mobile__top-content__user__user-icon
        = link_to new_group_path(),class:"edit_icon"do
          %i.far.fa-edit
        = link_to edit_user_path(current_user),class:"edit_icon"do
          %i.fas.fa-cog
  .side-ber-mobile__groups
    .side-ber-mobile__groups__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "group_link" do
          .side-ber-mobile__groups__group__name
            = group.name